.Header{
    width: 100%;
    height: 60px;
    text-align: center;
    border-bottom: 1px solid #D6D6D6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.Header .Title{
    font-size: 18px;
}

.Header .Online{
    color: #37BE3C;
    text-transform: uppercase;
    font-size: 15px;
}