.WelcomeView{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}
.WelcomeView:not(.RegistrationMode){
    height: 100%;
    padding: 30px;
}
.WelcomeView.RegistrationMode{
    height: 70%;
}

.WelcomeView .Title{
    margin-bottom: 30px;
    font-weight: normal;
}
.WelcomeView .Title span{
    font-weight: bold;
}

.WelcomeView .Robot{
    height: 70%;
}