.SearchInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D6D6D6;
}
.SearchInput > input{
    width: calc( 100% - 40px );
    box-sizing: border-box;
    height: 60px;
    border: none;
    text-align: center;
    font-size: 17px;
    color: #b9b9b9;
    outline: none;
    background: url("http://photos.work-alon.com/search.svg") no-repeat;
    background-position: 10% center;
    background-size: 25px;
}

.SearchInput .Logout{
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    color: rgb(153, 153, 153);
}

.SearchInput .Logout:hover{
    color: rgb(114, 114, 114);
}

.SearchInput .Exit:hover {
    transform: scale(1.1, 1.1);
    opacity: 0.9;
}