.MessageView{
    width: 100%;
    margin-bottom: 15px;
}

.MessageView.Me{
    text-align: right;
}

.MessageView .BorderView{
    border: 1px solid #D4D4D4;
    display: inline-block;
    padding: 20px 25px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    min-width: 100px;
    text-align: center;

    animation-duration: 0.5s;
    animation-name: add;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.MessageView.Me .BorderView{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 0;
}

.MessageView.Rtl .BorderView{
    direction: rtl;
}

.MessageView .Text{
    
}

@keyframes add {
    from {
        opacity: 0;
        transform: scale(0,0) translate(100%, 0%);
    }

    to {
        opacity: 1;
        transform: scale(1, 1) translate(0%, 0%);
    }
}